@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&family=Open+Sans:wght@700&family=Roboto&display=swap");
/* 
===========================
Utility
===========================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
:root {
  --red-salsa: #f94144ff;
  --orange-red: #f3722cff;
  --yellow-orange-color-wheel: #f8961eff;
  --maize-crayola: #f9c74fff;
  --pistachio: #90be6dff;
  --zomp: #43aa8bff;
  --queen-blue: #577590ff;
  --border-gray: rgb(216, 216, 216);
  --dark-gray: #333;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
.heading {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.blue {
  color: var(--queen-blue);
}
.gray {
  color: var(--dark-gray);
}
h1 {
  font-size: 2em; /* 2*16 = 32 */
}
h2 {
  font-size: 1.5em; /* 1.5*16 = 24 */
}
h3 {
  font-size: 1.17em; /* 1.17*16 = 18.72 */
}
h4 {
  font-size: 1em; /* 1*16 = 16 */
}
h5 {
  font-size: 0.83em; /* 0.83*16 = 13.28 */
}
h6 {
  font-size: 0.75em; /* 0.75*16 = 12 */
}

p {
  color: var(--dark-gray);
  margin-top: 40px;
  line-height: 2;
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}
ul {
  list-style-type: none;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-inner {
  height: 100%;
  width: 100%;
  max-width: 1000px;
}
.last {
  border-right: none;
}

/* SHADOWS */

.bottomRightShadow {
  border-radius: 15px;
  border: 1px solid var(--border-gray);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}
.allSides {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
/*scroll bar*/
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #333;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(187, 187, 187);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
/* 
===========================
Header 
===========================
*/
#top-container {
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;

  /*Mobile: Just make this less height and overflow hidden to chop the nav off
    */
}

#top-wrap {
  height: 100%;
  width: 100%;
  max-width: 1000px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
#title {
  margin-top: 20px;
  font-family: "Big Shoulders Stencil Display", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#logo-number {
  color: var(--red-salsa);
  text-align: center;
  margin: 0;
  padding: 0;
}
#title h1 {
  font-size: 30px;
}
.container {
  width: 100%;
}

#max-red {
  color: var(--red-salsa);
}

#top-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 275px;
}

#top-contact i {
  font-size: 2em;
}

.fa-facebook {
  color: #4267b2;
}

.fa-map-marked-alt {
  color: var(--pistachio);
}

.fa-phone {
  color: #4267b2;
}

.call {
  color: #4267b2;
}
/* 
===========================
nav 
===========================
*/
nav {
  width: 650px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li {
  border-right: 2px solid
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(125, 125, 125, 1) 62%,
      rgba(47, 47, 47, 1) 100%
    );
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 0.9em;
}

/* 
===========================
hero 
===========================
*/

#hero {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  counter-increment: gallery-cell;
  position: relative;
}

.carousel-text{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.589);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-text .inner{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.carousel-text .line{
  height: 3px;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 20px;
  
}
.carousel-text p {
  color: white;
  font-size: 1.2em;
  padding: 0;
  margin-top: 0;
  
}

.img-one{
  background-image: url(img/hero/berkeley-communications-WEDDt-u3q3o-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.img-two{
  background-image: url(img/hero/checkengine.jpg);
  background-size: cover;
  background-position: center;
}
.img-three{
  background-image: url(img/hero/neonbrand-2K_-PG95qlI-unsplash.jpg);
  background-size: cover;
  background-position: top;
}
.img-four{
  background-image: url(img/hero/neonbrand-60krlMMeWxU-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.img-five{
  background-image: url(img/hero/tekton-O_ufcLVTAYw-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
/* cell number 
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
*/

/* 
===========================
services
===========================
*/

#services {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /*
    grid-template-rows: 238px 238px;
    */
  max-width: 100%;
  grid-column-gap: 50px;
  margin-top: 50px;
  padding-bottom: 120px;
  border-bottom: 3px dotted var(--border-gray);
}

#services li {
  width: 238px;
  height: 238px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.logo {
  color: white;
  height: 150px;
  width: 150px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  margin-bottom: 20px;
  background-size: 400px;
  background: radial-gradient(
      circle,
      #162e42bb 0%,
      rgb(32, 8, 9) 62%,
      rgba(47, 47, 47, 1) 100%
    ),
    url("img/services/Metal_background_\(3\).jpg");
}

#logo1 {
  background-size: 400px;
  background-position: bottom;
  border: 5px solid var(--orange-red);
}

#logo2 {
  background-size: 400px;
  background-position: bottom;
  border: 5px solid var(--maize-crayola);
}

#logo3 {
  background-size: 400px;
  background-position: bottom;
  border: 5px solid var(--pistachio);
}

#logo4 {
  background-size: 400px;
  background-position: bottom;
  border: 5px solid var(--queen-blue);
}

/* 
===========================
about 
===========================
*/

#about article {
  margin-top: 75px;
}

/* 
===========================
map 
===========================
*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map-section {
  margin-top: 75px;
  position: relative;
  height: 550px;
}
#map {
  height: 100%;
}
#map-details{
    position: absolute;
    top: 50px;
    left: 20vw;
    width: 300px;
    height: 400px;
    /* top right bottom left */
    padding: 50px 50px 20px 50px;
    background: rgba(255, 252, 252, .8);
    box-shadow: 4px 4px 8px rgb(0 0 0 / 8%);
    border-radius: 5px;
    text-align: left;
    
}

.map-details-head{
    width: 100%;

}

.map-details-head h4{
    margin: 0;
    padding: 0;
}


#map-details-address{
  line-height: 1;
  margin: 5px 0 15px 0;
  padding: 0;
}

.map-details-hours{
    width: 100%;
    margin-bottom: 10px;
}
.map-details-hours table{
    width: 100%;
    margin-bottom: 15px;
}
.map-details-contact{
    width: 100%;
}
#map-section i{
  margin-right: 5px;
  color: #333;
}
#map-section ul li{
  margin-bottom: 5px;
}

/* 
===========================
footer 
===========================
*/

footer{
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  flex-direction: column;
}
#footer-top{

  display: flex;
  justify-content: center;
  align-items: center ;
  width: 100%;
}

#footer-top .container{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#footer-nav{
  display: flex;

}
#footer-hours{

}
#footer-contact{

}
#footer-address{

}
#footer-nav a{
  color: white;
}

#footer-hours{
  
}
footer p{
  color: white;
}

